In [8]:
from pyspark.sql import SparkSession
import pyspark.sql.types as T
import pyspark.sql.functions as F

In [3]:
spark = SparkSession.builder.appName("engine").getOrCreate()

In [5]:
df_spark = spark.read.csv("TBL_MAINTENANCE.csv",header=True,inferSchema=True)

In [6]:
df_spark.printSchema()

root
 |-- stock_id: string (nullable = true)
 |-- estimate_id: integer (nullable = true)
 |-- maintenance_id: integer (nullable = true)
 |-- type_id: integer (nullable = true)
 |-- package_id: integer (nullable = true)
 |-- price_maintenance: double (nullable = true)

In [7]:
df_spark.show()

+--------+-----------+--------------+-------+----------+-----------------+
|stock_id|estimate_id|maintenance_id|type_id|package_id|price_maintenance|
+--------+-----------+--------------+-------+----------+-----------------+
|  @15021|          0|         31109|      3|        82|              0.0|
|   23733|          0|         34809|      1|       200|           2299.0|
|   39363|          0|         34737|      6|        71|              0.0|
|    3112|          0|         31811|      1|       200|           2199.0|
|   20061|          0|         32147|      6|       200|           1250.0|
|  100197|    8848023|         38654|      2|       200|            550.0|
|   20276|          0|         31734|      6|        71|              0.0|
|   15351|          0|         36220|      6|       200|            650.0|
|   38030|          0|         33803|      6|        78|              0.0|
|  103849|   10170732|         38532|      6|        78|              0.0|
|   24550|          0|         33328|      6|        78|              0.0|
|   29495|          0|         33715|      6|       200|           1100.0|
|   21991|          0|         31998|      6|        96|              0.0|
|   40271|    5803982|         37979|      6|       200|           1599.0|
|   29076|          0|         32313|      6|       200|           1350.0|
|   35743|          0|         33576|      6|        81|              0.0|
|  112281|   11668107|         38515|      3|       200|           2199.0|
|  101624|          0|         35981|      6|       200|            900.0|
|   30538|          0|         35777|      6|       200|            650.0|
|   15173|          0|         36210|      1|       200|           2149.0|
+--------+-----------+--------------+-------+----------+-----------------+
only showing top 20 rows

In [10]:
df_spark = df_spark.withColumn("stock_id",F.regexp_replace('stock_id', r'[^A-Za-z0-9]+', ''))

In [11]:
df_spark.printSchema()

root
 |-- stock_id: string (nullable = true)
 |-- estimate_id: integer (nullable = true)
 |-- maintenance_id: integer (nullable = true)
 |-- type_id: integer (nullable = true)
 |-- package_id: integer (nullable = true)
 |-- price_maintenance: double (nullable = true)

In [12]:
df_spark.show()

+--------+-----------+--------------+-------+----------+-----------------+
|stock_id|estimate_id|maintenance_id|type_id|package_id|price_maintenance|
+--------+-----------+--------------+-------+----------+-----------------+
|   15021|          0|         31109|      3|        82|              0.0|
|   23733|          0|         34809|      1|       200|           2299.0|
|   39363|          0|         34737|      6|        71|              0.0|
|    3112|          0|         31811|      1|       200|           2199.0|
|   20061|          0|         32147|      6|       200|           1250.0|
|  100197|    8848023|         38654|      2|       200|            550.0|
|   20276|          0|         31734|      6|        71|              0.0|
|   15351|          0|         36220|      6|       200|            650.0|
|   38030|          0|         33803|      6|        78|              0.0|
|  103849|   10170732|         38532|      6|        78|              0.0|
|   24550|          0|         33328|      6|        78|              0.0|
|   29495|          0|         33715|      6|       200|           1100.0|
|   21991|          0|         31998|      6|        96|              0.0|
|   40271|    5803982|         37979|      6|       200|           1599.0|
|   29076|          0|         32313|      6|       200|           1350.0|
|   35743|          0|         33576|      6|        81|              0.0|
|  112281|   11668107|         38515|      3|       200|           2199.0|
|  101624|          0|         35981|      6|       200|            900.0|
|   30538|          0|         35777|      6|       200|            650.0|
|   15173|          0|         36210|      1|       200|           2149.0|
+--------+-----------+--------------+-------+----------+-----------------+
only showing top 20 rows

In [13]:
df_spark = df_spark.withColumn("stock_id",F.col("stock_id").cast(T.IntegerType()))

In [14]:
df_spark.printSchema()

root
 |-- stock_id: integer (nullable = true)
 |-- estimate_id: integer (nullable = true)
 |-- maintenance_id: integer (nullable = true)
 |-- type_id: integer (nullable = true)
 |-- package_id: integer (nullable = true)
 |-- price_maintenance: double (nullable = true)